body {
	margin: 0;
	padding: 0;
	background-image: url(/images/campfire.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
p,
label,
select,
textarea,
button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
h1,
p,
label,
textarea {
	color: grey;
	font-weight: bolder;
}
select {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
textarea {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
}
label,
input,
option {
	display: flex;
	justify-content: center;
}
input {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
submit {
	display: flex;
	justify-content: center;
}
button {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
