body {
	margin: 0;
	padding: 0;
	background-image: url(/images/campfire.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url(/images/cursor_pointer.png), pointer;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
h1,
p,
label,
select,
textarea,
button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
h1,
p,
label,
textarea {
	color: grey;
	font-weight: bolder;
	font-family: "Press Start 2P", cursive;
}
select,
textarea {
	width: 90%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	width: auto;
}
label {
	margin-bottom: 1rem;
}
select {
	cursor: url(/images/cursor_pointer.png), auto;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	width: 80%;
	max-width: 600px;
	padding: 20px;
	background-image: url("/images/grey-pixel.jpg");
	background-repeat: repeat;
	background-size: 8px 8px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
option {
	display: flex;
	justify-content: center;
}
input {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-family: "Press Start 2P", cursive;
	color: #000;
	font-weight: bolder;
	background-color: #fff;
}
select {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-family: "Press Start 2P", cursive;
	color: #000;
	font-weight: bolder;
	background-color: #fff;
}
option {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-family: "Press Start 2P", cursive;
	color: #000;
	font-weight: bolder;
	background-color: #fff;
}
submit {
	display: flex;
	justify-content: center;
}
button {
	width: 100%;
	box-shadow: 0 0 5px #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-family: "Press Start 2P", cursive;
	color: #000;
	font-weight: bolder;
	background-color: #fff;
	cursor: url(/images/cursor_pointer.png), auto;
}

button:active {
	cursor: url(/images/cursor_pointer.png), auto;
}
button:hover {
	cursor: url(/images/cursor_pointer.png), auto;
	background-color: #000;
	color: #fff;
}
button:disabled {
	cursor: not-allowed;
	background-color: #ccc;
	color: #000;
}
label[for="activity-select"]::after {
	content: "*";
	color: #d83f16;
}
.newPlayerMessage {
	font-family: "Press Start 2P", cursive;
	font-weight: 100;
	font-size: 0.8rem;
	color: #30104d;
	text-align: center;
	line-height: 1.4rem;

}
.newPlayerEnteredIn {
	animation: newPlayerI .4s cubic-bezier(0, 1.19, 0.86, -0.44);
}
@keyframes newPlayerI {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}