body {
	margin: 0;
	padding: 0;
	background-image: url(/images/campfire.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
p,
label,
select,
textarea,
button {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}
form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
}
label,
input,
option {
	display: flex;
	justify-content: center;
}
